/node_modules/
/contracts/artifacts/
/.idea/
/secrets.json
/build/
/bin/
.env
coverage
coverage.json
typechain
typechain-types
cache
artifacts
accounts.json
*.log
.prettierignore
.secret
.secret_git
.apikey_*
yarn-error.log
yarn.lock
package-lock.json
verify.sh
