:host{
    text-align: center;
    display: block;
    countdown ::ng-deep .item{
        background-color: #1095C1;
        text-align: center;
        width: 2.65em;
        display:inline-block;
        margin-right: 4px;
        border-radius: 5px;
        font-size: 0.9em;
        color: #fff;
        height: 1.8em;
        line-height: 1.8em;
    }
    .center{
        text-align: center;
    }

    button{
        background: linear-gradient(#26b538, #92d24a);
        font-weight: bold;
        border-radius: 50px;
        font-size: 17px;
        padding: 15px;
        border: none;
        margin-bottom: 10px;
        color: #fff;
        cursor: pointer;
        &.disabled{
            background: linear-gradient(#ccc, #ddd);
            color: #000;
            cursor: default;
        }
    }
}