:host{
    display: block;
    text-align: center;
    .pools{
        display: flex;
        justify-content: center;
        flex-flow: row;
        flex-wrap: wrap;
    }

    .result, .resultError{
        margin: 0 20px 20px;
        display: inline-block;
        padding: 10px 20px;
        a{
            word-break: break-all;
        }
    }

    .data{
        font-size: min(18px, 4vw);
        line-height: 20px;
        display: flex;
        margin: 20px 0 10px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        > div{
            display: flex;
            align-items: center;
            margin: 0 10px;
            strong{
                display:block;
                text-transform: uppercase;
                color: #519BE8;
            }
            img{
                margin-right: 10px;
            }
            div{
                text-align: left;
            }
            span{
                margin-top: 5px;
                font-size: 1.4em;
                display: block;
                font-weight: bold;
            }
            app-loader{
                font-size: 0.05em;
            }
        }
    }
}