
<h1>Staking pools</h1>
<div>
  <div class="bluebox" *ngIf="isStartButtonVisible()">
    <table>
      <tr>
        <td>
          Offstet blocks:
        </td>
        <td>
          <input #offsetBlocks type="number" />
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <button (click)="start(offsetBlocks.value)">START</button>
        </td>
      </tr>
    </table>  
    <div *ngIf="startTransactionHash" class="result">
      Transaction ID: <a href="{{startTransactionHash | transactionLink}}" target="_blank">{{startTransactionHash}}</a>
    </div>
    <div *ngIf="startTransactionError != ''" class="resultError">
      {{startTransactionError}}
    </div>  
  </div>
</div>
<div class="data">
  <div>
    <img src="/assets/img/graph.png" />
    <div>
        <strong>Total Emission</strong>
        <div>
            <span *ngIf="!totalEmision || !tokenInstance().isReady()"><app-loader></app-loader></span>
            <span *ngIf="totalEmision && tokenInstance().isReady()">{{totalEmision | BigNumberLocale : tokenInstance().decimals}} {{tokenInstance().symbol}}</span>
        </div>
    </div>
  </div>
  <div>
      <img src="/assets/img/graph.png" />
      <div>
          <strong>Distributed Tokens</strong>
          <div>
              <span *ngIf="!distributedTokensValue || !tokenInstance().isReady()"><app-loader></app-loader></span>
              <span *ngIf="distributedTokensValue && tokenInstance().isReady()">{{distributedTokensValue | BigNumberLocale : tokenInstance().decimals}} {{tokenInstance().symbol}}</span>
          </div>
      </div>
  </div>
  <div>
    <img src="/assets/img/circulating.png" />
    <div>
        <strong>Tokens To Be Distributed</strong>
        <div>
            <span *ngIf="!tokensToBeDistributed || !tokenInstance().isReady()"><app-loader></app-loader></span>
            <span *ngIf="tokensToBeDistributed && tokenInstance().isReady()">{{tokensToBeDistributed | BigNumberLocale : tokenInstance().decimals}} {{tokenInstance().symbol}}</span>
        </div>
    </div>
</div>
  <div>
      <img src="/assets/img/burn.png" />
      <div>
          <strong>Tokens To Be Burned</strong>
          <div>
              <span *ngIf="!tokensToBeBurned || !tokenInstance().isReady()"><app-loader></app-loader></span>
              <span *ngIf="tokensToBeBurned && tokenInstance().isReady()">{{tokensToBeBurned | BigNumberLocale : tokenInstance().decimals}} {{tokenInstance().symbol}}</span>
          </div>
      </div>
  </div>
</div>


<div class="bluebox">
  <table>
    <tr>
      <th>
        Pool contract address: 
      </th><td>
        <span><a href="{{poolAddress() | addressLink}}" target="_blank">{{poolAddress()}}</a></span>
      </td> 
    </tr>
    <tr>
      <th>
        Started: 
      </th><td>
        <span *ngIf="started == null || (started == true && startDate == null)"><app-loader></app-loader></span>
        <span *ngIf="started == false">Not started</span>
        <span *ngIf="started == true && startDate != null">{{startDate | dateTimeLocale}}</span>
        <span *ngIf="startBlock != null && startBlock > 0"> (Block number: {{startBlock}})</span>
      </td> 
    </tr>
  </table>
</div>


<div *ngIf="transactionHash != ''">
  <div class="result">Transaction ID: <a href="{{transactionHash | transactionLink}}" target="_blank">{{transactionHash}}</a></div>
</div>
<div *ngIf="transactionError != ''">
  <div class="resultError">{{transactionError}}</div>
</div>
<div class="pools">
  <ng-container *ngFor="let p of poolServiceState.pools; index as poolId;" >
    <app-pool-element *ngIf=p [pool]=p [totalAllocPoint]=totalAllocPoint [tokenPerBlock]=tokenPerBlock (transactionHash)="notifyTransaction($event)" (transactionError)="notifyTransactionError($event)" [contractAddress]=poolAddress()></app-pool-element>
  </ng-container>
</div>