
<h1>Staking pools</h1>
<div class="bluebox">
  <table>
    <tr>
      <th>
        Pool contract address: 
      </th><td>
        <span><a href="{{poolAddress() | addressLink}}" target="_blank">{{poolAddress()}}</a></span>
      </td> 
    </tr>
  </table>
</div>
<div *ngIf="transactionHash != ''">
  <div class="result">Transaction ID: <a href="{{transactionHash | transactionLink}}" target="_blank">{{transactionHash}}</a></div>
</div>
<div *ngIf="transactionError != ''">
  <div class="resultError">{{transactionError}}</div>
</div>
<div class="pools">
  <ng-container *ngFor="let p of state().pools; index as poolId;" >
    <app-pool-element *ngIf=p [pool]=p (transactionHash)="notifyTransaction($event)" (transactionError)="notifyTransactionError($event)" [contractAddress]=poolAddress()></app-pool-element>
  </ng-container>
</div>