<div class="data" *ngIf="pool.tokenDeposit.isReady()">
  <div class="nofees" *ngIf="pool.feePercent() == 0">
    No fees!
  </div>
  <div class="token-flex token-main">
    <img src="{{pool.tokenDeposit.icon}}" alt="" />
    <a href="{{pool.tokenDeposit.address | addressLink}}" target="_blank">{{pool.tokenDeposit.name}}</a>
    <span class="allocpoint">{{pool.data.allocPoint}}X</span>
  </div>
  <table>
    <tr>
      <th>Deposit:</th><td>
        <div class="token-flex">
          <img src="{{pool.tokenDeposit.icon}}" alt="" />
          <a href="{{pool.tokenDeposit.address | addressLink}}" target="_blank">{{pool.tokenDeposit.name}}</a>
          <app-add-token-to-wallet class="dark" [token]=pool.tokenDeposit></app-add-token-to-wallet>
        </div>
        </td>
    </tr>
    <tr>
      <th>Earn:</th><td>
        <div class="token-flex">
          <img src="{{pool.tokenEarn.icon}}" alt="" />
          <a href="{{pool.tokenEarn.address | addressLink}}" target="_blank">{{pool.tokenEarn.name}}</a>
          <app-add-token-to-wallet class="dark" [token]=pool.tokenEarn></app-add-token-to-wallet>
        </div>
      </td>
    </tr>
    <tr>
      <th>APR:</th><td>
        <app-loader *ngIf="aprValue == null" class="center"></app-loader>
        <div *ngIf="aprValue != null && aprValue == -1"  class="green">-</div>
        <div *ngIf="aprValue != null && aprValue != -1"  class="green asLink" (click)="toogleAprApyModal()">
          {{aprValue| numberLocale}} %
        </div>
      </td>
    </tr>
    <tr>
      <th>APY:</th><td>
        <app-loader *ngIf="apyValue == null" class="center"></app-loader>
        <div *ngIf="aprValue != null && aprValue == -1"  class="green">-</div>
        <div *ngIf="aprValue != null && aprValue != -1"  class="green asLink" (click)="toogleAprApyModal()">
          {{apyValue| numberLocale}} %
        </div>
      </td>
    </tr>
    <tr>
      <th>Deposit fee:</th><td><div class="green">{{pool.feePercent() | numberLocale}} %</div></td>
    </tr> 
    <tr>
      <th>Your stake:</th><td>
        <div *ngIf="!walletSigned()">Wallet not connected</div>
        <div class="green" *ngIf="walletSigned()">
          {{amount()| numberLocale}} {{this.pool.tokenDeposit.symbol}}
          <span class="small" *ngIf="tokenPriceValue > 0">({{(amount() * this.tokenPriceValue) | numberLocale}} USD)</span>
        </div>
      </td>
    </tr>
    <tr>
      <th>Earned:</th><td>
        <div *ngIf="!walletSigned()">Wallet not connected</div>
        <div class="green" *ngIf="walletSigned() && this.pool.tokenEarn.isReady()">
          {{pendingTokens | BigNumberLocale : this.pool.tokenEarn.decimals}} {{this.pool.tokenEarn.symbol}}
          <span class="small" *ngIf="tokenPriceValue > 0">({{pendingTokensUsd() | numberLocale}} USD)</span>
        </div>
      </td>
    </tr>
    <tr>
      <th>Token price:</th><td>
        <div class="green">{{tokenPrice() | numberLocale}} USD / {{this.pool.tokenDeposit.symbol}}</div>
      </td>
    </tr>
    <tr>
      <th>Total value:</th><td>
        <div class="green" *ngIf="totalValue">
          {{totalValue | BigNumberLocale : this.pool.tokenEarn.decimals}} {{this.pool.tokenEarn.symbol}}
          <!-- <span class="small" *ngIf="tokenPriceValue > 0">({{pendingTokensUsd() | numberLocale}} USD)</span> -->
        </div>
      </td>
    </tr>
    <tr class="noborder">
      <th>Your share:</th><td>
        <div *ngIf="!walletSigned()">Wallet not connected</div>
        <div class="green" *ngIf="walletSigned()">{{share()| numberLocale}} %</div>
      </td>
    </tr>  
    <tr class="noborder">
      <td colspan="2" class="actions">
        <div *ngIf="!walletSigned()">Wallet not connected</div>
        <div *ngIf="walletSigned() && isTokenDepositApproved() != null">
          <button *ngIf="!isTokenDepositApproved()" (click)="approve()">
            <span *ngIf="!approveWaiting">Approve</span>
            <app-loader *ngIf="approveWaiting" class="center"></app-loader>
          </button>
          <div *ngIf="false && approveTransactionHash" class="result">
            Transaction ID: <a href="{{approveTransactionHash | transactionLink}}" target="_blank">{{approveTransactionHash}}</a>
          </div>


          <div class="calc"  *ngIf="isTokenDepositApproved()">
            <span class="buttonWrap">
              <button (click)="toogleDepositModal(true)">
                <span>Deposit</span>
              </button>
            </span>
          </div>
          <div *ngIf="false && depositTransactionHash" class="result">
            Transaction ID: <a href="{{depositTransactionHash | transactionLink}}" target="_blank">{{depositTransactionHash}}</a>
          </div>
          <div *ngIf="false && depositError != null" class="resultError">
            {{depositError}}
          </div>        

          <div class="calc" *ngIf="isTokenDepositApproved()">
            <span class="buttonWrap">
              <button [disabled]="amount() == 0" (click)="toogleWithdrawModal()">
                <span>Withdraw</span>
              </button>
            </span>
          </div>
          <div *ngIf="false && withdrawTransactionHash" class="result">
            Transaction ID: <a href="{{withdrawTransactionHash | transactionLink}}" target="_blank">{{withdrawTransactionHash}}</a>
          </div>
          <div *ngIf="false && withdrawError != null" class="resultError">
            {{withdrawError}}
          </div>

          <div class="calc" *ngIf="isTokenDepositApproved() && pool.tokenDeposit.address == pool.tokenEarn.address">
            <span class="buttonWrap">
              <button  [disabled]="!hasPendingTokens()"  (click)="compound()">
                <span>Compound</span>
              </button>
            </span>
          </div>

          <div class="calc" *ngIf="isTokenDepositApproved()">
            <span class="buttonWrap">
              <button  [disabled]="!hasPendingTokens()" (click)="harvest()">
                <span>Harvest</span>
              </button>
            </span>
          </div>

        </div> 
      </td>
    </tr>
  </table>
</div>

<div class="modal" *ngIf="depositModal">
  <div class="modal-data">
    <div class="modal-header">
      Deposit
      <span class="close" (click)="toogleDepositModal()">⨯</span>
    </div>
    <div class="modal-body">
      <div class="avaliable" *ngIf="walletSigned() && pool.tokenDeposit.balance >= 0">Avaliable: <strong>{{pool.tokenDeposit.balanceBigNumber | BigNumberLocale : pool.tokenDeposit.decimals : true : false}}</strong> {{pool.tokenDeposit.name}}</div>
      <span class="inputWrap inputWrapMax">
        <input onlyNumbers #depositInput [allowDecimals]="true"  value="" /> 
        <div class="max" (click)="depositInput.value = getBigNumberValue(pool.tokenDeposit.balanceBigNumber,  pool.tokenDeposit.decimals);">MAX</div>
        <span>{{pool.tokenDeposit.name}}</span>
      </span> 
    </div>
    <div class="modal-footer">
      <button class="cancel" (click)="toogleDepositModal()">Cancel</button>
      <button class="confirm" [disabled]="getNumberValue(depositInput.value) == 0"   (click)="deposit(depositInput.value)">
          <span *ngIf="!depositLoading">Confirm</span>
          <app-loader *ngIf="depositLoading" class="center"></app-loader>
      </button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="withdrawModal">
  <div class="modal-data">
    <div class="modal-header">
      Withdraw
      <span class="close" (click)="toogleWithdrawModal()">⨯</span>
    </div>
    <div class="modal-body">
      <div class="avaliable" *ngIf="walletSigned()">Avaliable: <strong>{{amountBigNumber() | BigNumberLocale : pool.tokenDeposit.decimals : true : false}}</strong> {{pool.tokenDeposit.name}}</div>
      <span class="inputWrap inputWrapMax">
        <input onlyNumbers #withdrawInput [allowDecimals]="true"  value="" /> 
        <div class="max" (click)="withdrawInput.value =  getBigNumberValue(amountBigNumber(),  pool.tokenDeposit.decimals);">MAX</div>
        <span>{{pool.tokenEarn.name}}</span>
      </span> 
    </div>
    <div class="modal-footer">
      <button class="cancel" (click)="toogleWithdrawModal()">Cancel</button>
      <button [disabled]="getNumberValue(withdrawInput.value) == 0" class="confirm" (click)="withdraw(withdrawInput.value)">
          <span *ngIf="!withdrawLoading">Confirm</span>
          <app-loader *ngIf="withdrawLoading" class="center"></app-loader>
      </button>
    </div>
  </div>
</div>


<div class="modal" *ngIf="aprApyModal">
  <div class="modal-data">
    <div class="modal-header">
      APR/APY {{pool.tokenDeposit.name}}
      <span class="close" (click)="toogleAprApyModal()">⨯</span>
    </div>
    <div class="modal-body">
      <div class="data data-apr-apy">
        <table>
          <tbody>
            <tr>
              <th>TIME</th>
              <th>APR</th>
              <th>APY</th>
            </tr>
            <tr>
                <th>DAY</th>
                <td>{{apr(1)| numberLocale}}%</td>
                <td>{{apy(1)| numberLocale}}%</td>
            </tr>
            <tr>
                <th>WEEK</th>
                <td>{{apr(7)| numberLocale}}%</td>
                <td>{{apy(7)| numberLocale}}%</td>
            </tr>
            <tr>
                <th>MONTH</th>
                <td>{{apr(30)| numberLocale}}%</td>
                <td>{{apy(30)| numberLocale}}%</td>
            </tr>
            <tr class="noborder">
                <th>YEAR</th>
                <td>{{aprValue| numberLocale}}%</td>
                <td>{{apyValue| numberLocale}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

