<div class="data" *ngIf="pool.tokenDeposit.isReady()">
  <table>
    <tr>
      <th>Deposit:</th><td>
        <div class="token-flex">
          <img src="{{pool.tokenDeposit.icon}}" alt="" />
          <a href="{{pool.tokenDeposit.address | addressLink}}" target="_blank">{{pool.tokenDeposit.name}}</a>
        </div>
        </td>
    </tr>
    <tr>
      <th>Earn:</th><td>
        <div class="token-flex">
          <img src="{{pool.tokenEarn.icon}}" alt="" />
          <a href="{{pool.tokenEarn.address | addressLink}}" target="_blank">{{pool.tokenEarn.name}}</a>
        </div>
      </td>
    </tr>
    <tr>
      <th>Deposit fee:</th><td><div class="green">{{pool.feePercent() | numberLocale}} %</div></td>
    </tr> 
    <tr>
      <th>Pending tokens:</th><td>
        <div *ngIf="!walletSigned()">Wallet not connected</div>
        <div class="green" *ngIf="walletSigned() && getPendingTokens() >= 0">{{getPendingTokens() | numberLocale}}</div>
      </td>
    </tr>
    <tr>
      <th>Deposit:</th><td>
        <div *ngIf="!walletSigned()">Wallet not connected</div>
        <div class="green" *ngIf="walletSigned()">{{amount()| numberLocale}}</div>
      </td>
    </tr>
    <tr class="noborder">
      <th>RewardDebt:</th><td>
        <div *ngIf="!walletSigned()">Wallet not connected</div>
        <div class="green" *ngIf="walletSigned()">{{rewardDebt()| numberLocale}}</div>
      </td>
    </tr>    
    <tr class="noborder">
      <td colspan="2" class="actions">
        <div *ngIf="!walletSigned()">Wallet not connected</div>
        <div *ngIf="walletSigned() && isTokenDepositApproved() != null">
          <button *ngIf="!isTokenDepositApproved()" (click)="approve()">
            <span *ngIf="!approveWaiting">Approve</span>
            <app-loader *ngIf="approveWaiting" class="center"></app-loader>
          </button>
          <div *ngIf="approveTransactionHash" class="result">
            Transaction ID: <a href="{{approveTransactionHash | transactionLink}}" target="_blank">{{approveTransactionHash}}</a>
          </div>


          <div class="calc"  *ngIf="isTokenDepositApproved()">
            <span class="buttonWrap">
              <button (click)="toogleDepositModal()">
                <span>Deposit</span>
              </button>
            </span>
          </div>
          <div *ngIf="depositTransactionHash" class="result">
            Transaction ID: <a href="{{depositTransactionHash | transactionLink}}" target="_blank">{{depositTransactionHash}}</a>
          </div>
          <div *ngIf="depositError != null" class="resultError">
            {{depositError}}
          </div>        

          <div class="calc"  *ngIf="isTokenDepositApproved()">
            <span class="buttonWrap">
              <button (click)="toogleWithdrawModal()">
                <span>Withdraw</span>
              </button>
            </span>
          </div>
          <div *ngIf="withdrawTransactionHash" class="result">
            Transaction ID: <a href="{{withdrawTransactionHash | transactionLink}}" target="_blank">{{withdrawTransactionHash}}</a>
          </div>
          <div *ngIf="withdrawError != null" class="resultError">
            {{withdrawError}}
          </div>

          <div class="calc" *ngIf="isTokenDepositApproved() && pool.tokenDeposit.address == pool.tokenEarn.address">
            <span class="buttonWrap">
              <button (click)="toogleWithdrawModal()">
                <span>Compound</span>
              </button>
            </span>
          </div>

          <div class="calc" *ngIf="isTokenDepositApproved() && pool.tokenDeposit.address == pool.tokenEarn.address">
            <span class="buttonWrap">
              <button (click)="toogleWithdrawModal()">
                <span>Harvest</span>
              </button>
            </span>
          </div>

        </div> 
      </td>
    </tr>
  </table>
</div>

<div class="modal" *ngIf="depositModal">
  <div class="modal-data">
    <div class="modal-header">
      Deposit
      <span class="close" (click)="toogleDepositModal()">⨯</span>
    </div>
    <div class="modal-body">
      <span class="inputWrap">
        <input onlyNumbers #depositInput [allowDecimals]="true"  value="" /> 
        <span>{{pool.tokenDeposit.name}}</span>
      </span> 
    </div>
    <div class="modal-footer">
      <button class="cancel" (click)="toogleDepositModal()">Cancel</button>
      <button class="confirm" (click)="deposit(depositInput.value)">
          <span *ngIf="!depositLoading">Confirm</span>
          <app-loader *ngIf="depositLoading" class="center"></app-loader>
      </button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="withdrawModal">
  <div class="modal-data">
    <div class="modal-header">
      Withdraw
      <span class="close" (click)="toogleWithdrawModal()">⨯</span>
    </div>
    <div class="modal-body">
      <div class="avaliable" *ngIf="walletSigned()">Avaliable <strong>{{amount()| numberLocale}}</strong> {{pool.tokenDeposit.name}}</div>
      <span class="inputWrap">
        <input onlyNumbers #withdrawInput [allowDecimals]="true"  value="" /> 
        <span>{{pool.tokenEarn.name}}</span>
      </span> 
    </div>
    <div class="modal-footer">
      <button class="cancel" (click)="toogleWithdrawModal()">Cancel</button>
      <button class="confirm" (click)="withdraw(withdrawInput.value)">
          <span *ngIf="!withdrawLoading">Confirm</span>
          <app-loader *ngIf="withdrawLoading" class="center"></app-loader>
      </button>
    </div>
  </div>
</div>