<div class="bluebox">
    <table>
        <tr>
        <th>
                Token: 
        </th><td>
                <span *ngIf="token()  == ''"><app-loader></app-loader></span>
                <span *ngIf="token()  != ''">
                    {{token()}}
                    <app-add-token-to-wallet [token]=tokenInstance()></app-add-token-to-wallet>
                </span>
        </td> 
        </tr>
        <tr>
            <th>
                Token address: 
            </th><td>
                    <span *ngIf="token()  == ''"><app-loader></app-loader></span>
                    <span *ngIf="token()  != ''">
                    <a href="{{tokenInstance().address | addressLink}}" target="_blank">{{tokenInstance().address}}</a>
                    </span>
            </td> 
        </tr>
        <tr>
            <th>
                Total supply: 
            </th><td>
                <span *ngIf="tokenInstance().totalSupply < 0 || token() == ''"><app-loader></app-loader></span>
                <span *ngIf="tokenInstance().totalSupply >= 0 &&  token() != ''">{{tokenInstance().totalSupply | numberLocale}} {{tokenInstance().symbol}}</span>
            </td> 
        </tr>
        <tr>
            <th>
                Burned: 
            </th><td>
                <span *ngIf="tokenInstance().burned < 0 || token() == ''"><app-loader></app-loader></span>
                <span *ngIf="tokenInstance().burned >= 0 &&  token() != ''">{{tokenInstance().burned | numberLocale}} {{tokenInstance().symbol}}</span>
            </td> 
        </tr>
        <tr>
            <th>
                Circulating supply: 
            </th><td>
                <span *ngIf="tokenInstance().burned < 0 || tokenInstance().totalSupply < 0 || token() == ''"><app-loader></app-loader></span>
                <span *ngIf="tokenInstance().burned >= 0 && tokenInstance().totalSupply >= 0 &&  token() != ''">{{(tokenInstance().totalSupply - tokenInstance().burned) | numberLocale}} {{tokenInstance().symbol}}</span>
            </td> 
        </tr>
        <tr>
            <th>
                Your wallet balance: 
            </th><td>
                <span *ngIf="!walletConnected()">Wallet not connected</span>
                <span *ngIf="walletConnected() && tokenInstance().balance < 0"><app-loader></app-loader></span>
                <span *ngIf="walletConnected() && tokenInstance().balance >= 0">{{tokenInstance().balance | numberLocale}} {{tokenInstance().symbol}}</span>
            </td> 
        </tr>
    </table>
</div>